
    <section class="intro">
        <div class="item item-1">
          <h1>Trandition</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
            laboriosam nulla commodi quae. Ducimus minus reiciendis iure
            laudantium? Adipisci, quidem.
          </p>
        </div>
    
        <div class="item item-2">
          <h1>Creativity</h1>
        </div>
    
        <div class="item item-3">
          <h1>Creativity</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
            laboriosam nulla commodi quae. Ducimus minus reiciendis iure
            laudantium? Adipisci, quidem.
          </p>
        </div>
    
        <div class="item item-4">
          <h1>What We Bake Best for You</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
            laboriosam nulla commodi quae. Ducimus minus reiciendis iure
            laudantium? Adipisci, quidem.
          </p>
        </div>
    
        <div class="item">
          <img class="w-full" src="./img/slide/slide_3.jpeg" />
        </div>
    
        <div class="item item-6">
          <h1>Quality</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
            laboriosam nulla commodi quae. Ducimus minus reiciendis iure
            laudantium? Adipisci, quidem.
          </p>
        </div>
    
        <div class="item">
          <img class="w-full" src="./img/slide/slide_3.jpeg" />
        </div>
    
        <div class="item item-8">
          <h1>Tasty Cake</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
            laboriosam nulla commodi quae. Ducimus minus reiciendis iure
            laudantium? Adipisci, quidem.
          </p>
        </div>
    
        <div class="item item-9">
          <img class="w-full" src="./img/slide/slide_3.jpeg" />
        </div>
      </section>
