        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="item mb-5">
            <div class="img position-relative overflow-hidden content-hover">
              <img class="w-100" src="./img/slide/slide_3.jpeg" />
              <div
                class="info d-flex justify-content-center align-items-center flex-column position-absolute text-white"
              >
            
                <a class="d-block mt-3 mb-2 text-white text-decoration-none" style="outline: 1px solid orange; padding :5px" 
                  >Chi tiết sản phẩm</a
                >
                
              </div>
            </div>
            <h4 class="text-center">Tên sản phẩm</h4>
            <p class="text-center">Giá :1000</p>
            <!-- <div class="rating text-center star-rating">
              <i class="fa fa-star py-3"></i>
              <i class="fa fa-star py-3"></i>
              <i class="fa fa-star py-3"></i>
              <i class="fa fa-star py-3"></i>
              <i class="fa fa-star py-3"></i>
            </div> -->
          </div>
        </div>