<nav class="side-navbar">
    <div class="side-navbar-wrapper">
      <!-- Sidebar Header    -->
      <div class="sidenav-header d-flex align-items-center justify-content-center">
        <!-- User Info-->
        <div class="sidenav-header-inner text-center">
          <h2 class="h5">Picolo coffee</h2>
        </div>
        <!-- Small Brand information, appears on minimized sidebar-->
        <div class="sidenav-header-logo"><a href="/admin" class="brand-small text-center"> <strong>P</strong><strong
              class="text-primary">C</strong></a></div>
      </div>
      <!-- Sidebar Navigation Menus-->
      <div class="main-menu">
        <h5 class="sidenav-heading">Main</h5>
        <ul id="side-main-menu" class="side-menu list-unstyled">
          <li><a href="/admin"><i class="fas fa-house-user"></i>Home </a></li>
          <li><a href="#ProductsDropdown" aria-expanded="false" data-toggle="collapse" class="d-flex justify-content-between"><div>
            <i class="fab fa-product-hunt"></i>Products  
          </div>
          <i class="fas fa-caret-down"></i>
        </a>
            <ul id="ProductsDropdown" class="collapse list-unstyled ">
              <li><a href="#">All Product</a></li>
              <li><a href="#">Add new product</a></li>
            </ul>
          </li>
          <li><a href="#CategoryDropdown" aria-expanded="false" data-toggle="collapse"class="d-flex justify-content-between"><div>
            <i class="fab fa-product-hunt"></i>Category  
          </div>
          <i class="fas fa-caret-down"></i>
        </a>
            <ul id="CategoryDropdown" class="collapse list-unstyled ">
              <li><a href="#">All Category</a></li>
              <li><a href="#">Add new Category</a></li>
            </ul>
          </li>
          <li><a href="login.html"><i class="fas fa-sign-in-alt"></i>Login page </a></li>
        </ul>
      </div>
    </div>
  </nav>