<section class="py-3 allProduct">

    <div class="container py-4">
      
        <div class="row">
            <div class="col-md-3">
                <!-- Tabs nav -->
                <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link mb-2 shadow active" id="v-pills-vnCf-tab" data-toggle="pill" href="#v-pills-vnCf" role="tab" aria-controls="v-pills-vnCf" aria-selected="true">
                        <span class="font-weight-bold small text-uppercase">VietNamese Coffee</span></a>
                    <a class="nav-link mb-2 shadow" id="v-pills-italianCf-tab" data-toggle="pill" href="#v-pills-italianCf" role="tab" aria-controls="v-pills-italianCf" aria-selected="false">
                        
                        <span class="font-weight-bold small text-uppercase">Italian Coffee</span></a>

                    <a class="nav-link mb-2 shadow" id="v-pills-hand-brew-tab" data-toggle="pill" href="#v-pills-hand-brew" role="tab" aria-controls="v-pills-hand-brew" aria-selected="false">
                        
                        <span class="font-weight-bold small text-uppercase">Hand Brew</span></a>

                    <a class="nav-link mb-2 shadow" id="v-pills-signature-tab" data-toggle="pill" href="#v-pills-signature" role="tab" aria-controls="v-pills-signature" aria-selected="false">
  
                        <span class="font-weight-bold small text-uppercase">Signature</span></a>

                     <a class="nav-link mb-2 shadow" id="v-pills-food-tab" data-toggle="pill" href="#v-pills-food" role="tab" aria-controls="v-pills-food" aria-selected="false">
  
                        <span class="font-weight-bold small text-uppercase">Food</span>
                        </a>
                    <a class="nav-link mb-2 shadow" id="v-pills-tea-tab" data-toggle="pill" href="#v-pills-tea" role="tab" aria-controls="v-pills-tea" aria-selected="false">
  
                        <span class="font-weight-bold small text-uppercase">Tea</span>
                        </a>
                    </div>
            </div>


            <div class="col-md-9">
                <!-- Tabs content -->
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade shadow rounded bg-white show active p-4" id="v-pills-vnCf" role="tabpanel" aria-labelledby="v-pills-vnCf-tab">
                        <h4 class="font-italic mb-4">VietNamese Coffee</h4>
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/001.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/001.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/001.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/001.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/001.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/001.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/001.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/001.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <div class="tab-pane fade shadow rounded bg-white p-4" id="v-pills-italianCf" role="tabpanel" aria-labelledby="v-pills-italianCf-tab">
                        <h4 class="font-italic mb-4">Italian Coffee</h4>
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/002.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/002.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/002.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/002.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/002.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/002.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/002.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/002.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <div class="tab-pane fade shadow rounded bg-white p-4" id="v-pills-hand-brew" role="tabpanel" aria-labelledby="v-pills-hand-brew-tab">
                        <h4 class="font-italic mb-4">Hand Brew</h4>
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/003.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/003.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/003.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/003.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/003.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/003.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/003.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/003.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <div class="tab-pane fade shadow rounded bg-white p-4" id="v-pills-signature" role="tabpanel" aria-labelledby="v-pills-signature-tab">
                        <h4 class="font-italic mb-4">Signature</h4>
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/005.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/005.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/005.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/005.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/005.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/005.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/005.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/005.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade shadow rounded bg-white p-4" id="v-pills-tea" role="tabpanel" aria-labelledby="v-pills-tea-tab">
                        <h4 class="font-italic mb-4">Tea</h4>
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/006.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/006.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/006.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/006.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/006.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/006.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/006.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/006.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade shadow rounded bg-white p-4" id="v-pills-food" role="tabpanel" aria-labelledby="v-pills-food-tab">
                        <h4 class="font-italic mb-4">Food</h4>
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/007.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/007.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/007.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/007.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/007.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/007.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/007.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <div class="item" href="#">
                                    <div class="img-hover-zoom " >
                                          <img src="../img/007.jpg" class="w-80" alt="This zooms-in really well and smooth">
                                    </div>
                                    <div class="content text-center">
                                    <span class="name">Tên Sản phẩm</span>
                                    <p>Giá :10000</p>
                                    <button class="button"><span>Tìm hiểu thêm </span></button>
                                </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>