<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <body>

    <h2>Add new product</h2>
    <div class="container ">
      <form class="col-sm-1-6" action="/admin/inserting" method="POST">
        <div class="form-group">
          <label for="">products.name</label>
          <input type="text"
            class="form-control" name="name" id="name" aria-describedby="helpId">
        </div>
        <div class="form-group">
          <label for="">products.vn_name</label>
          <input type="text"
            class="form-control" name="vn_name" id="vn_name" aria-describedby="helpId">
        </div>
        <div class="form-group">
          <label for="">products.description</label>
          <input type="text"
            class="form-control" name="description" id="description" aria-describedby="helpId">
        </div>
        <div class="form-group">
          <label for="">products.price</label>
          <input type="text"
            class="form-control" name="price" id="price" aria-describedby="helpId">
        </div>
        <div class="form-group">
          <label for="">products.category.id</label>
          <input type="text"
            class="form-control" name="category.id" id="category.id" aria-describedby="helpId">
        </div>
        <div class="form-group">
          <label for="">products.category.name</label>
          <input type="text"
            class="form-control" name="category.name" id="category.name" aria-describedby="helpId">
        </div>
        <div class="form-group">
            <label for="">products.rate - default 5*</label>
          <input type="text"
            class="form-control" name="rate" id="rate" aria-describedby="helpId" value="5" readonly>
        </div>
        <div class="form-group">
            <label for="">products.image</label>
            <input type="file"
              class="form-control" name="image" id="image" aria-describedby="helpId">

          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>